<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{layout :: head}"></head>
  <body>
    <nav th:replace="~{layout :: navigation}"></nav>
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Selamat Datang
            <br />
            di
            <strong class="has-text-info">Winterhold Library</strong>
          </p>
          <p class="mt-4 subtitle">
            Knowledge is the best weapon you have, please find some fascinating
            books we have.
            <br />
            This app will help you do that, as long as you keep extend your
            membership!
            <br />
            (its totally free)
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
