<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head}"></head>
  <body>
    <div class="hero is-fullheight">
      <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box">
          <h1
            class="has-text-centered has-text-weight-bold has-text-primary is-size-3">
            Winterhold Login Page
          </h1>
          <form method="post" th:attr="action=@{/authenticating}">
            <input
              type="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}" />
            <div class="column">
              <label for="email">Username</label>
              <input
                class="input"
                type="text"
                name="username"
                placeholder="Username"
                autocomplete="off" />
            </div>
            <div class="column">
              <label for="Name">Password</label>
              <input
                class="input"
                type="password"
                name="password"
                placeholder="Password" />
              <a th:href="@{#}" class="is-size-7 has-text-primary">
                forget password?
              </a>
            </div>
            <div class="column">
              <button class="button is-primary is-fullwidth" type="submit">
                Login
              </button>
            </div>
            <div class="has-text-centered">
              <p class="is-size-7">
                Don't have an account?
                <a th:href="@{/account/register-form}" class="has-text-primary">
                  Sign up
                </a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
