<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head}"></head>
  <body>
    <nav th:replace="~{layout :: navigation}"></nav>
    <section class="section pb-3 pt-3">
      <nav th:replace="~{layout :: header (Book, Index)}"></nav>
      <form
        method="get"
        th:attr="action=@{/book/index}"
        class="field is-grouped">
        <p class="control is-expanded">
          <input
            class="input"
            type="text"
            name="name"
            placeholder="Find by Category Name"
            th:attr="value=${name}" />
        </p>
        <p class="control">
          <button type="submit" class="button is-info">Search</button>
        </p>
        <p class="control">
          <a class="button is-info" th:href="@{/book/category/upsert-form}">
            Add New Category
          </a>
        </p>
      </form>
      <table class="table is-bordered is-fullwidth">
        <thead class="is-size-8">
          <tr>
            <th>Action</th>
            <th>Category</th>
            <th>Floor</th>
            <th>Isle</th>
            <th>Bay</th>
            <th>Total Books</th>
          </tr>
        </thead>

        <tbody class="is-size-10">
          <tr th:each="category : ${dataGrid}" th:object="${category}">
            <td>
              <a
                class="button is-info is-small"
                th:href="@{/book/category/detail(category=*{name})}">
                <i class="fas fa-book"></i>
                <span>Books</span>
              </a>
              <a
                class="button is-warning is-small"
                th:href="@{/book/category/upsert-form(name=*{name})}">
                <i class="fas fa-user-edit"></i>
                <span>Edit</span>
              </a>
              <a
                class="button is-danger is-small"
                th:href="@{/book/category/delete(name=*{name})}">
                <i class="fas fa-trash"></i>
                <span>Delete</span>
              </a>
            </td>
            <td th:text="*{name}"></td>
            <td th:text="*{floor}"></td>
            <td th:text="*{isle}"></td>
            <td th:text="*{bay}"></td>
            <td th:text="*{totalBooks}"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <div class="pagination is-right">
                <div
                  class="pagination-previous"
                  th:text="|Page ${currentPage} of ${totalPages}|"></div>
                <ul class="pagination-list" th:if="${totalPages != 0}">
                  <li th:each="page:${#numbers.sequence(1,totalPages)}">
                    <a
                      class="pagination-link"
                      th:href="@{/book/category(page=${page}, name=${name})}"
                      th:text="${page}"></a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    <footer th:replace="~{layout :: footer}"></footer>
  </body>
</html>
