<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head}"></head>
  <body>
    <nav th:replace="~{layout :: navigation}"></nav>
    <section class="section is-fullheight pb-3 pt-3">
      <nav
        th:replace="~{layout :: header (Customer, ${actionType} + ' Customer')}"></nav>
      <h1 class="title" th:text="|${actionType} Customer|"></h1>
      <form
        class="alternate-action"
        method="post"
        th:object="${dto}"
        th:attr="data-action=${actionType}">
        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{membershipExpireDate}" />
        <div class="field">
          <label class="label">Membership Number*</label>
          <div class="control">
            <input
              class="input readonly-id"
              type="text"
              th:field="*{membershipNumber}"
              placeholder="Membership Number" />
          </div>
          <p class="help is-danger" th:errors="*{membershipNumber}"></p>
        </div>
        <div class="field">
          <label class="label">First Name*</label>
          <div class="control">
            <input
              class="input"
              type="text"
              th:field="*{firstName}"
              placeholder="First Name" />
          </div>
          <p class="help is-danger" th:errors="*{firstName}"></p>
        </div>
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              th:field="*{lastName}"
              placeholder="Last Name" />
          </div>
          <p class="help is-danger" th:errors="*{lastName}"></p>
        </div>
        <div class="field">
          <label class="label">Birth Date*</label>
          <div class="control">
            <input class="input" type="date" th:field="*{birthDate}" />
          </div>
          <p class="help is-danger" th:errors="*{birthDate}"></p>
        </div>
        <div class="control">
          <label class="label">Gender*</label>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              value="Male"
              th:field="*{gender}" />
            Male
          </label>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              value="Female"
              th:field="*{gender}" />
            Female
          </label>
          <p class="help is-danger" th:errors="*{gender}"></p>
        </div>
        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input
              class="input"
              type="text"
              th:field="*{phone}"
              placeholder="Phone" />
          </div>
          <p class="help is-danger" th:errors="*{phone}"></p>
        </div>
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Address"
              th:field="*{address}"></textarea>
          </div>
          <p class="help is-danger" th:errors="*{address}"></p>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
          <div class="control">
            <a class="button is-link is-light" th:href="@{/customer}">Cancel</a>
          </div>
        </div>
      </form>
    </section>
    <footer th:replace="~{layout :: footer}"></footer>
    <th:block th:replace="~{layout :: javascript}"></th:block>
  </body>
</html>
